<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @oder.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @oder.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @oder.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @oder.pay_type %>
</p>

<%= link_to 'Edit', edit_oder_path(@oder) %> |
<%= link_to 'Back', oders_path %>
